@charset "utf-8";
/* CSS Document */
/*全局样式*/
*{
	padding: 0;
	margin: 0;
}
body{
	background-color:#FFFFFF;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
}
/*顶部总样式*/
#header{
	width: 1920px;
	position: fixed;
	left: 50%;
	margin-left: -960px;
	font-size: 18px;
}
/*搜索框样式*/
.search_box{
	height: 32px;
	margin-top: 3px;
	margin-left: -30px;
}
#header form{
margin-left: -5px;
}
/*顶部标签样式*/
#header span{
	margin-right: 15px;
	color: darkgrey;
	width: 10px;
	height: 10px;
	font-size: 18px;
}
#header .icon{
	padding:15px 0 15px 15px;
}
#header .index_all{
	margin-left: -15px;
}
#header .person_all{
	margin-left: -17px;
}
#header .tuijian_icon{
	margin-left: 5px;
}
#header .tuijian_all{
	margin-left: -2px;
}
/*主体总样式*/
#main{
	width: 1920px;
	position: relative;
	left: 50%;
	margin-left: -960px;
}

/*动图样式*/
#main .main_one img{
	width: 150px;
	height: 150px;
	border: 4px solid white;
	border-radius: 75px;
	position:relative;
	margin-top: 30px;
	z-index: 10;
}
/*五个按钮及头像的总样式*/
.FiveButton{
	position:relative;
	background-color:rgba(57,57,57,1.00);
	border-radius: 10px;
	width: 700px;
	height: 180px;
	margin-top: -80px;
	z-index: 0;
}
/*五个按钮的样式*/
.FiveButton li{
	list-style-type: none;
	font-size: 16px;
	line-height: 35px;
	font-weight: 600;
}
/*按钮样式*/
.FiveButton li button{
	width: 80px;
	height: 35px;
	background-color:white;
	text-decoration: none;
	color: black;
	border: 0;
	border-radius: 6px;
}
/*按钮鼠标悬停的样式*/
.FiveButton button:hover{
	color: red;
}
/*五个按钮总体的样式*/
.FiveButton ul{
	margin-left: 12%;
	position: relative;
	top:120px;
}
/*当前按钮的样式——设置界面（默认界面）*/
.FiveButton .now{
	color: red;
	font-weight: 800;
}
/*个人信息最外围的边框样式*/
#main .main_two{
	width: 1400px;
	height: 600px;
	border: 6px solid black;
	margin: 30px auto;
	cursor: default;
}
/*个人信息最外围的边框样式——断点效果*/
#main .main_two .null{
	width: 1400px;
	height: 300px;
	background-color:white;
	margin-top: 150px;
}
/*右上角的样式*/
#main .main_two .right_top{
	width: 300px;
	height: 620px;
	background-color: rgba(74,74,74,0.95);
	margin-top: -550px;
	margin-left: 85%;
	color: white;
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
	position: relative;
	z-index: 30;
	box-shadow: -2px 5px 5px gray;
}
/*个人信息字体样式*/
#main .main_two span{
	position: relative;
	top:175px;
}
#main .main_two .content span{
	font-size: 16px;
	color:black;
	font-weight: 500;
	position: relative;
	top:-5px;
	margin-left: 20px;
}
/*性别样式*/
#main .main_two .sex{
	margin-top: -35px;
	margin-left: 90px;
}
#main .main_two .couple{
	margin-top: -32px;
	margin-left: 150px;
}
/*内容区背景样式*/
#main .main_two .content{
	width: 1340px;
	height: 550px;
	background-color:rgba(116,116,116,1.00);
	margin-top:-520px;
	margin-left: 25px;
	position: relative;
	z-index: 50px;
}
/*男 女 保密按钮样式*/
#main .main_two .content input{
	width: 20px;
	height: 20px;
	margin-right: 20px;
}
/*手机号 密码之类的样式*/
#main .main_two .content h2{
	color:rgba(227,225,225,1.00);
	padding-top: 30px;
	margin-left: 9%;
}
/*账号安全总样式*/
#main .main_three{
	margin-top: 60px;
	height: 440px;
	cursor: default;
}
/*账号安全之右上角样式*/
#main .main_three .right_top{
	height: 420px;
	position: relative;
	top:33%;
}
/*“账号安全”字体样式*/
#main .main_three span{
	position: relative;
	top:73px;
}
/*外边框——断点*/
#main .main_three .null{
	height: 220px;
	position:relative;
	top:-30px;
}
/*内容区总体样式*/
#main .main_three .content{
	height: 390px;
	position: relative;
	top:277px;
}
/*手机 密码之类的字体样式*/
#main .main_three .content h2{
	line-height: 45px;
}
/*邮箱样式*/
#main .main_three .content .email{
	position: relative;
	top:-45px;
}
/*账号绑定总体样式*/
#main .main_four{
	margin-top: 60px;
	cursor: default;
}
/*QQ 微信 邮箱 图标样式*/
#main .main_four img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
/*微信 邮箱字体样式*/
#main .main_four .content h2{
	position: relative;
	top:-10px;
}
/*账号绑定——右上角样式*/
#main .main_four .right_top{
	position: relative;
	top:140px;
}
/*底部总体样式*/
#footer{
	width: 1920px;
	background-color:black;
	margin: 0 auto;
	font-family: "微软雅黑";
	height: 400px;
/*	margin-top: 50%;*/
	cursor: default;
}
/*表格每一块总体样式*/
#footer tr{
	line-height: 45px;
}
/*“行”样式*/
#footer th{
	font-size: 30px;
	color: white;
	text-align: center;
}
/*“列”样式*/
#footer td{
	color:darkgray;
	font-size: 20px;
	text-align: center;
}
/*“列”超链接样式*/
#footer td a{
	color: darkgray;
}
/*“列”超链接 鼠标悬停样式*/
#footer td a:hover{
	color: #337ab7;
}
/*表格总体样式*/
#footer table{
	width: 1920px;
	left: 50%;
	margin-left: -960px;
	position: relative;
	top:20%;
}
/*置顶样式*/
#footer .zhiding{
	width: 50px;
	height: 50px;
	border-radius:0 0 50px 0;
	background-color: black;
	border: 0;
	position: fixed;
	top:865px;
	left: 97%;
}

