body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body{
/*	background: #E4E1D9;*/
	color: #D5D6E2;
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
}


.demo{  padding: 50px 0;}
.box{
	width: 300px;
	height: 300px;
	font-family: 'Kanit', sans-serif;
	text-align: center;
/*	border: 5px solid #fff;*/
	box-shadow: 1px 1px 2px #e6e6e6;
	overflow: hidden;
	position: relative;
}
.box:hover{ box-shadow: 13px 13px 15px rgba(0, 0, 0, 0.3); }
.box:before{
	content: "";
	background: linear-gradient(to left top,#11998e,#38ef7d);
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.4s linear;
}
.box:hover:before{ opacity: 1; }
.box img{
	width: 300px;
	height: auto;
	transition: all 0.4s linear;
}
.box:hover img{
	opacity: 0;
	transform: scale(3);
}
.box .box-content{
	color: #fff;
	width: 100%;
	transform: translateY(-50%) scale(0);
	position: absolute;
	top: 50%;
	left: 0;
	transition: all 0.4s linear;
}
.box:hover .box-content{ transform: translateY(-50%) scale(1); }
.box .title{
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
}
.box .post{
	font-size: 30px;
	text-transform: capitalize;
}
.box .icon{
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	right: 8px;
	bottom: 10px;
}
.box .icon li{
	display: inline-block;
	margin: 0 1px;
	opacity: 0;
	transform: scale(1.3);
	transition: all 0.3s ease 0.4s;
}
.box:hover .icon li{
	opacity: 1;
	transform: scale(1);
}
.box:hover .icon li:nth-child(2){ transition: all 0.3s ease 0.2s; }
.box .icon li a{
	color: #11998e;
	background: #fff;
	font-size: 16px;
	line-height: 33px;
	height: 33px;
	width: 33px;
	border-radius: 50%;
	display: block;
	transition: all 0.5s ease;
}
.box .icon li  a:hover{
	color: #fff;
	background-color: #11998e;
	box-shadow: 0 0 5px #000;
}
@media only screen and (max-width:990px){
	.box { margin: 0 0 30px; }
}